header{
  width:100%;
  height:100px;
  background-color: lightcoral;
}
main{
  width:100%;
  height:600px;
  background-color: yellow;
}
.left{
  width:50%;
  height:100%;
  float:left;
  background-color: tomato;
}
.input_box{
  width:400px;
  height:200px;
  margin:10px;
  border: 2px solid gold;
}
.input_box_send{
  margin-left:10px;
  display:block;
}
.right{
  width:50%;
  height:100%;
  float:left;
  background-color: lightblue;
}
.output{
  list-style: none;
}
